<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<div >
    <form name="form" accept-charset="utf-8"  action="http://127.0.0.1:8080/loginVerify" method="post">
        <ul>
                <div class="inputOuter2">
                    用户名：<br> <input type="text" id="username" name="username" />
                </div>
                <div >
                    密码：<br>  <input type="text" id="password"  name="password" />
                </div>
                <div >
                    <input type="submit" value="登录"/>
                </div>
        </ul>
    </form>
</div>
</body>
</html>